.container-register{
    background: url('https://tmuploader.s3.us-west-1.amazonaws.com/1689361-1581328742584_Slider-4.jpg'); 
    background-size: cover;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
 }

.form-register{
    border: 1px solid ;
    border-radius: 10px;
    padding: 30px 40px;
    background: transparent;
    backdrop-filter: blur(40px);
}

.form-register h2{
    text-align: center;
    font-weight: bold;
    margin: 10px;
    font-size: 30px;
    color: rgb(53 27 14);
}

.item-input{
    display: flex;
    margin: 20px;
    align-items: center;
}

.item-input label{
    min-width: 100px;
}
.item-input input, #role{
    position: relative;
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 5px 10px;
    border: 1px solid rgb(53 27 14);
    border-radius: 50px;
    background-color: transparent;
    color: rgb(53 27 14);
}

.item-input input::placeholder, #role{
    color: rgb(53 27 14);
    font-size: 14px;
}

.bi{
    position: absolute;
    right: 70px;
}

.bi:hover{
    cursor: pointer;
}

.option-item{
    color: black;
}

.btn-register{
    background-color: rgb(53 27 14);
    width: 90%;
    border: none;
    margin:0 20px;
    padding: 6px 0px;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.link-account{
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
   }

.link{
    text-decoration: none;
    color: rgb(53 27 14);
    font-size: 13px;
}


.error-register{
    font-size: 16px;
    color: red;
    font-weight: 600px;
    margin: 0px 20px;
}